.contactsHeader {
  grid-row: 1;
  grid-column: 1;
  z-index: 2;
  text-align: center;
  font-size: 3.5em;
  font-weight: 600;
  max-width: 500px;
  margin: 0 auto;
}

.contactPageContainer,
.contactPageGrid {
  display: flex;
  flex-direction: row-reverse;
  max-width: var(--maxWidth);
  justify-content: center;
  gap: 10rem;
  margin: 4rem auto 4rem;
}

.contactPageContainer {
  grid-template-columns: 1fr 1fr;
  column-gap: 3rem;
  padding: 3rem 1rem;
}

.contactPageForm {
  width: 100%;
  max-width: 500px;
  box-sizing: border-box;
}

.contactPageForm input,
.contactPageForm textarea {
  border: none;
  border-radius: 5px;
  padding: 0.6rem;
  background-color: hsl(43, 100%, 99%);
  margin-bottom: 1rem;
  color: var(--grey);
  width: 95%;
  box-shadow: 10px 10px 10px rgba(0, 0, 0, 0.192);
}

.contactPageForm input {
  border-radius: 9999px;
}
.contactPageForm input:focus,
.contactPageForm textarea:focus {
  outline: 3px solid var(--green);
}

.contactPageForm textarea {
  border-radius: 20px;
}

.contactPageForm > *,
.contactPerson p,
.admininstratorContactsContainer p,
.contactDescription,
.letsTalk,
.formLabel,
.contactName,
.contactPhone,
.companyInfo > *,
.adressContainer > * {
  color: var(--grey);
}

.fullWidth {
  width: calc(100% - 1rem);
}

.sendMessageButton {
  background-color: var(--green);
  padding: 0.75rem 2rem;
  border: none;
  border-radius: 999px;
  color: white;
  font-size: 1rem;
  cursor: pointer;
  transition: transform 0.2s;
}

.sendMessageButton:active {
  transform: scale(0.95);
}

.contactFormName {
  display: grid;
  grid-template-columns: 1fr 1fr;
  column-gap: 30px;
  margin-top: 2rem;
  width: 95%;
}

.contactFormName > div > input {
  width: 100%;
}

.formLabel {
  font-size: 1.3rem;
  margin: 1.3rem 0 0.5rem;
}

.formGroup {
  display: flex;
  flex-direction: column;
}

.contactPageContacts {
  display: flex;
  gap: 2rem;
  flex: 1;
}

.contactPerson {
  display: flex;
  flex-direction: column;
  gap: 0.25rem;
}

.contactName,
.contactPhone {
  margin: 0.25rem 0;
  opacity: 0.6;
}

.letsTalk {
  font-weight: 600;
  font-size: 2.5rem;
  letter-spacing: -1px;
}
.admininstratorContactsContainer {
  border-radius: 10px;
  width: 200px;
}

.contactPageInformation {
  display: flex;
  flex-direction: column;
  width: fit-content;
  gap: 3rem;
  grid-column: 2;
  padding: 0 1rem;
  box-sizing: border-box;
}

.contactPageFormContainer {
  grid-column: 1;
  grid-row: 1;
}

.contactDescription {
  opacity: 90%;
  font-size: 1.2rem;
  max-width: 600px;
  margin: 1rem auto;
}

.companyInfo,
.adressContainer {
  width: 100%;
  display: flex;
  flex-direction: column;
  line-height: 1.5rem;
}

@media (max-width: 800px) {
  .contactPageContainer {
    grid-template-columns: 1fr;
  }
  .contactPageContacts {
    margin: 0 auto 3rem;
  }
  .contactFormName {
    grid-template-columns: 1fr;
  }
}

.greyFont {
  color: var(--grey);
}

.inputFieldHeader {
  margin: 5px 0 2px 8px;
}
.contactTitle {
  margin-top: 0;
}
.contactTitle,
.companyInfoTitle,
.villaAdressTitle {
  margin-bottom: 0.5rem;
  font-size: 1.4rem;
  font-weight: 600;
}

.contactName {
  margin: 0.25rem 0 0.25rem;
  opacity: 60%;
}

.inputFieldGroup {
  display: flex;
  flex-direction: column;
}
.locationMap {
  max-width: 900px;
  height: 350px;
  width: 100%;
  display: block;
  margin: 64px auto;
}
@media (max-width: 1000px) {
  .contactPageGrid {
    flex-direction: column;
    gap: 3rem;
  }
}
